* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    overflow-x: hidden;
    
  }
  :root {
    --blue-color:#118AB2;
    --white-color: #ffff;
    --green-color:#31572C
  }
  
  .codepro {
    border: 3px solid var(--blue-color);
    border-radius: 10px;
  }
  
  /* button */
  button {
    padding: 0.8em 1.8em;
    border: 3px solid var(--blue-color);
    position: relative;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.3s;
    z-index: 1;
    font-family: inherit;
    color: var(--white-color);
  
  }
  
  button::before {
    content: "";
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: var(--blue-color);
    transition: 0.5s ease;
    display: block;
    z-index: -1;
  }
  
  button:hover::before {
    width: 105%;
  }
  
  button:hover {
    color: var(--white-color);
  }
  button a {
    text-decoration: none;
  }
  button a {
      text-decoration: none;
      color: var(--green-color);
      transition: 0.3s ease; 
    }
    
    button:hover a {
      color: var(--white-color); 
    }
    